/* adding font family */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0px;
}

/* Shared Style */
.button{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
}
.button:hover{
    background-color: rgba(128, 128, 128, 0.541);
}
/* banner */
.banner{
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-bottom: 110px;
}
nav ul{
    display: flex;
    list-style: none;
    gap:909px;
    padding: 50px 150px;
}
nav li{
    font-size: 34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}
.banner-title-container{
   justify-items: center;
    margin: 300px 280px 150px 280px;
}
#banner-title{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #252432;
}
#banner-button{
    margin-top: 40px;
}
/* Action Section */
.action{
    margin: 116px 176px 116px 140px;
    
    
}
.action-container{
    display: flex;
    gap: 200px;
   
}
.action-col-one{
    margin: 60px 150px 60px 0px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    color:#25243266;
    margin-top: 23px;
}
#action-button{
    margin-top:30px ;
}

.action-col-two img{
    border-radius: 50px;
    width: 403px;
    height: 328px;
   
}
/* Productive */
.productive{
    margin: 116px 170px 137px 141px;
    background-color: #4d47ff1f;
    border-radius: 25px;
}
.productive-container{
    padding: 50px 142px;
}
.productive-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 40px;
}
.productive-description{
    display: flex;
    justify-content: space-around;

}
.productive-description h1{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);

}
.productive-description h5{
    font-size: 20px;
    font-weight: 400;
    color: #0000005b;

}
/* user feedback*/
.feedback{
    margin: 137px 149px 137px 151px;
  

}

.feedback-title{
    text-align: center;
    color: rgba(0, 0, 0, 0.741);
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 50px;
}
.feedback-container{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.feedback-card{
    width: 366px;
    background-color: #FFFFFF;
    padding: 10px 20px 20px 30px;
    border: 1px solid rgba(189, 183, 107, 0.226);
    border-radius: 10px;
}
.star{
    display: flex;
    padding-top: 25px;
}
.feedback-card h4{
     padding-top: 15px;
     font-size: 20px;
     font-weight: bold;
}
.feedback-card p{
  padding-top: 10px;
}
.user-name-image{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}
.user-name-image img{
    border-radius: 50%;
}
.date{
    color: gray;
}



